@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Rubik";
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbf8ec;
}
body .mainWrapper header {
  background-color: #ffffff;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
body .mainWrapper header #header-Button {
  margin-left: 116px;
  background-color: #ffffff;
}
body .mainWrapper header #header-Button .logo-header {
  cursor: pointer;
}
body .mainWrapper header .input-button-container {
  position: relative;
}
body .mainWrapper header .input-button-container input {
  padding-left: 16px;
  width: 838px;
  height: 40px;
  border: 1px solid #70c05b;
  border-radius: 4px;
}
body .mainWrapper header .input-button-container button {
  position: absolute;
  right: 10px;
  top: 6px;
  background-color: #ffffff;
  cursor: pointer;
}
body .mainWrapper header #Heart-page {
  background-color: #ffffff;
  cursor: pointer;
}
body .mainWrapper header #Heart-page .heart-cont {
  text-align: center;
}
body .mainWrapper header #Cart-page {
  cursor: pointer;
  background-color: #ffffff;
  margin-right: 116px;
}
body .mainWrapper header #Cart-page cart-cont {
  text-align: center;
}
body .mainWrapper .afterHeaderPhoto img {
  position: relative;
  width: 100%;
  height: 252px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .mainWrapper .afterHeaderPhoto .imgIn {
  position: absolute;
  top: 74px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  left: 9.7%;
}
body .mainWrapper .afterHeaderPhoto .h1 h1 {
  position: absolute;
  display: flex;
  left: 38.83%;
  top: 170px;
  font-weight: 700;
  font-size: 48px;
  color: hsl(0, 0%, 25%);
}
body .mainWrapper .Products {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  flex: 4;
  gap: 40px;
  position: relative;
}
body .mainWrapper .Products .productsSales {
  width: 1208px;
  display: flex;
  justify-content: space-between;
}
body .mainWrapper .Products .productsSales h2 {
  margin-top: -50px;
}
body .mainWrapper .Products .productsSales button {
  background-color: #fbf8ec;
  cursor: pointer;
  display: flex;
  gap: 16px;
}
body .mainWrapper .Products .productsSales button a {
  text-decoration: none;
  color: #606060;
}
body .mainWrapper .Products .productsSales button img {
  color: #606060;
}
body .mainWrapper .Products .productsNeewss {
  position: absolute;
  width: 1208px;
  top: 900px;
  display: flex;
  justify-content: space-between;
}
body .mainWrapper .Products .productsNeewss button {
  background-color: #fbf8ec;
  cursor: pointer;
  display: flex;
  gap: 16px;
}
body .mainWrapper .Products .productsNeewss button a {
  text-decoration: none;
  color: #606060;
}
body .mainWrapper .Products .productsNeewss button img {
  color: #606060;
}
body .mainWrapper .Products .productsBoughtBefore {
  position: absolute;
  width: 1208px;
  top: 1200px;
  display: flex;
  justify-content: space-between;
}
body .mainWrapper .Products .productsBoughtBefore button {
  background-color: #fbf8ec;
  cursor: pointer;
  display: flex;
  gap: 16px;
}
body .mainWrapper .Products .productsBoughtBefore button a {
  text-decoration: none;
  color: #606060;
}
body .mainWrapper .Products .productsBoughtBefore button img {
  color: #606060;
}
body .mainWrapper .Products .product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
body .mainWrapper .Products .product-list .product {
  margin-top: 100px;
  width: 272px;
  height: 349px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 8px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 30px;
}
body .mainWrapper .Products .product-list .product .p-sale {
  position: absolute;
  top: 110px;
  background-color: #ff6633;
  width: 56px;
  height: 32px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mainWrapper .Products .product-list .product .prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  line-height: 150%;
}
body .mainWrapper .Products .product-list .product .prices .weight {
  font-weight: 700;
}
body .mainWrapper .Products .product-list .product .prices .cash {
  color: #606060;
}
body .mainWrapper .Products .product-list .product .prices .by-cash-p {
  color: #bfbfbf;
  font-size: 12px;
}
body .mainWrapper .Products .product-list .product .product-heart {
  position: absolute;
  right: 10px;
  opacity: 0.5;
  top: 10px;
  border-radius: 4px;
}
body .mainWrapper .Products .product-list .product .cont-img {
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden;
}
body .mainWrapper .Products .product-list .product .cont-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
body .mainWrapper .Products .product-list .product .stars img {
  width: 16px;
  height: 16px;
}
body .mainWrapper .Products .product-list .product .inCartButton {
  width: 256px;
  height: 40px;
  border-radius: 4px;
  color: #70c05b;
  border: 1px solid #70c05b;
  background-color: #ffffff;
}
body .mainWrapper .Products .product-list .product .inCartButton:hover {
  color: #ffffff;
  border: 1px solid #ff6633;
  background-color: #ff6633;
}
body .mainWrapper .Products .product-list .hide {
  display: none;
}
body .mainWrapper .offers .wrapper-offers {
  width: 100%;
  height: 294px;
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
body .mainWrapper .offers .wrapper-offers .WrapperOfferH2 {
  position: absolute;
  top: 1725px;
  padding-right: 865px;
  display: flex;
  justify-content: start;
  justify-content: start;
}
body .mainWrapper .offers .wrapper-offers .offers-bycard {
  border-radius: 4px;
  width: 584px;
  display: flex;
  justify-content: space-between;
  height: 200px;
  background-color: #fcd5ba;
}
body .mainWrapper .offers .wrapper-offers .offers-bycard .offers-byCard-Text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  padding-left: 40px;
  gap: 6px;
}
body .mainWrapper .offers .wrapper-offers .offers-bycard .offers-byCard-Text h3 {
  font-size: 24px;
  font-weight: 700;
  color: #414141;
}
body .mainWrapper .offers .wrapper-offers .offers-bycard .offers-byCard-Text p {
  font-size: 15px;
  color: #414141;
}
body .mainWrapper .offers .wrapper-offers .offers-sales {
  display: flex;
  background-color: #e5ffde;
  border-radius: 4px;
  width: 584px;
  justify-content: space-between;
  height: 200px;
}
body .mainWrapper .offers .wrapper-offers .offers-sales .offers-SalesText {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  gap: 6px;
  color: #414141;
  font-size: 24px;
  font-weight: 700;
}
body .mainWrapper .offers .wrapper-offers .offers-sales p {
  color: #414141;
  font-size: 15px;
}
body .mainWrapper .map-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}
body .mainWrapper .map-section .wrapperMap h2 {
  margin-bottom: 70px;
}
body .img-bg-footer {
  height: 126px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .img-bg-footer .bg-footer {
  width: 100%;
}
body .img-bg-footer .navs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 126px;
}
body .img-bg-footer .navs nav {
  position: absolute;
  left: 116px;
  bottom: 100px;
}
body .img-bg-footer .navs nav .footerLi1 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  list-style: none;
}
body .img-bg-footer .navs nav .footerLi1 li a {
  color: #414141;
  text-decoration: none;
}
body .img-bg-footer .navs .footerNav {
  position: absolute;
  right: 35%;
}
body .img-bg-footer .navs .footerNav .footerLi2 {
  position: absolute;
  left: 872px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
body .img-bg-footer .phone {
  position: absolute;
  top: -100px;
  left: 1160px;
  display: flex;
  text-align: center;
}
body .img-bg-footer .phone span {
  padding-left: 8px;
}
body .img-bg-footer .end {
  position: absolute;
  top: -40px;
  left: 1160px;
}/*# sourceMappingURL=style.css.map */