@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Rubik";
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbf8ec;
}
body .mainWrapper header {
  background-color: #ffffff;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
body .mainWrapper header #header-Button {
  margin-left: 116px;
  background-color: #ffffff;
}
body .mainWrapper header #header-Button .logo-header {
  cursor: pointer;
}
body .mainWrapper header .input-button-container {
  position: relative;
}
body .mainWrapper header .input-button-container input {
  padding-left: 16px;
  width: 838px;
  height: 40px;
  border: 1px solid #70c05b;
  border-radius: 4px;
}
body .mainWrapper header .input-button-container button {
  position: absolute;
  right: 10px;
  top: 6px;
  background-color: #ffffff;
  cursor: pointer;
}
body .mainWrapper header #Heart-page {
  background-color: #ffffff;
  cursor: pointer;
}
body .mainWrapper header #Heart-page .heart-cont {
  text-align: center;
}
body .mainWrapper header #Cart-page {
  cursor: pointer;
  background-color: #ffffff;
  margin-right: 116px;
}
body .mainWrapper header #Cart-page cart-cont {
  text-align: center;
}
body .mainWrapper .afterHeaderPhoto img {
  position: relative;
  width: 100%;
  height: 252px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .mainWrapper .afterHeaderPhoto .imgIn {
  position: absolute;
  top: 74px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  left: 9.7%;
}
body .mainWrapper .afterHeaderPhoto .h1 h1 {
  position: absolute;
  display: flex;
  left: 38.83%;
  top: 170px;
  font-weight: 700;
  font-size: 48px;
  color: hsl(0, 0%, 25%);
}
body .mainWrapper .Products {
  width: 100%;
  height: 1208px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
body .mainWrapper .Products .product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px;
}
body .mainWrapper .Products .product-list .product {
  width: 272px;
  height: 349px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 8px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
body .mainWrapper .Products .product-list .product .p-sale {
  position: absolute;
  top: 110px;
  background-color: #ff6633;
  width: 56px;
  height: 32px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mainWrapper .Products .product-list .product .prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  line-height: 150%;
}
body .mainWrapper .Products .product-list .product .prices .weight {
  font-weight: 700;
}
body .mainWrapper .Products .product-list .product .prices .cash {
  color: #606060;
}
body .mainWrapper .Products .product-list .product .prices .by-cash-p {
  color: #bfbfbf;
  font-size: 12px;
}
body .mainWrapper .Products .product-list .product .product-heart {
  position: absolute;
  right: 10px;
  opacity: 0.5;
  top: 10px;
  border-radius: 4px;
}
body .mainWrapper .Products .product-list .product .cont-img {
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden;
}
body .mainWrapper .Products .product-list .product .cont-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
body .mainWrapper .Products .product-list .product .stars img {
  width: 16px;
  height: 16px;
}
body .mainWrapper .Products .product-list .product .inCartButton {
  width: 256px;
  height: 40px;
  border-radius: 4px;
  color: #70c05b;
  border: 1px solid #70c05b;
  background-color: #ffffff;
}/*# sourceMappingURL=style.css.map */